<!DOCTYPE html>
<html>
<head>
  <title>Voyage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<%= render "layouts/login" %>

<% if content_for? :nav %>
  <%= content_for :nav %>
<% else %>
  <%= render 'layouts/app_header' %>
<% end %>



<%= notice %>
<%= alert %>

<%= yield %>

<%= render 'layouts/footer' %>
</body>
</html>
